<%= form_for :order, :url => populate_orders_path do |f| %>
  <div class="row" id="inside-product-cart-form" data-hook="inside_product_cart_form" itemprop="offers" itemscope itemtype="https://schema.org/Offer">
    <% if @product.price_in(current_currency) and !@product.price.nil? %>
      <div data-hook="product_price" class="col-md-6">
        <div id="product-price">
          <div>
            <span class="lead price selling" itemprop="price">
              <%= display_price(@product) %>
            </span>
            <span itemprop="priceCurrency" content="<%= @product.currency %>"></span>
          </div>
          <p class="free-ship">free shipping <span>on most orders</span></p>
          <div class="rating hidden-sm">
            <% stars = @product.stars %>
            <div class="col-md-4">
              <div class="average-rating pull-left" title="<%= txt_stars(stars) %>">
                <%= render 'spree/reviews/stars', stars: stars %>
              </div>
            </div>
            <div class="col-md-4">
              <div class="all-review-count">
                <%= link_to "#{@product.reviews_count} Reviews", product_reviews_path(@product) %>
              </div>
            </div>
            <div class="col-md-4 review-count-padding">
              <div class="all-review-count">
                <%= link_to new_product_review_path(@product), class: '', rel: 'nofollow' do %>
                  <i class="fa fa-pencil-square-o"></i> Write a Review
                <% end %>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="media-body">
            <p>
            <a class="btn btn-xs btn-default pnit" href="#"><i class="fa fa-pinterest"></i> Pinterest </a>
            <a class="btn btn-xs btn-default" href="#"><span class="glyphicon glyphicon-heart"></span> Favorite</a>
            <a class="btn btn-xs btn-default frnd" href="#"><i class="fa fa-paper-plane"></i> Share with a friend</a>
            </p>
          </div>
          <% if @product.master.can_supply? %>
            <link itemprop="availability" href="https://schema.org/InStock" />
          <% elsif @product.variants.empty? %>
            <br />
            <span class="out-of-stock"><%= Spree.t(:out_of_stock) %></span>
          <% end %>
        </div>

        <div class="add-to-cart">
          <div class="input-group item-quantity">
            <strong class="free-ship">Quantity </strong><br>
            <%= number_field_tag :quantity, 1, :class => 'title form-control', :min => 1 %>
          </div>
          <br/>
          <div class=" input-group buy-cart-bttn">
            <span class="input-group-btn">
              <%= button_tag :class => 'btn btn-hot text-uppercase btn-lg', :id => 'add-to-cart-button', :type => :submit do %>
                <%= Spree.t(:add_to_cart) %>
              <% end %>
            </span>
            <% if spree_current_user.nil? %>
              <button type="button" class="btn btn-hot-wish wishlist-info text-uppercase btn-lg" data-toggle="tooltip" data-placement="top" title="Please login to add this item into wish list."> Wishlist <span aria-hidden="true" class="glyphicon glyphicon-question-sign"></span></button>
            <% end %>
          </div>

        </div>
        <span></span>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-sx-12">
        <div class="detail-ryt-end-outer">
          <% if @product.variants_and_option_values(current_currency).any? %>
            <div id="product-variants" class="col-md-12">
              <div class="variant-block">
                <h3 class="product-section-title">Choose variant</h3>
                <ul class="list-group prd-details-price-outer">
                  <% @product.variants_and_option_values(current_currency).each_with_index do |variant, index| %>
                    <li class="mylog-page">
                      <%= radio_button_tag "variant_id", variant.id, index == 0, 'data-price' => variant.price_in(current_currency).money  %>
                      <%= label_tag "variant_id_#{ variant.id }" do %>
                        <span class="variant-description1">
                          <span></span>
                        </span>
                        <%= (variant_options variant).split(":")[0] %>
                        <% if variant_price variant %>
                          <span class="price diff"><%= variant_price variant %></span>
                        <% end %>
                        <% unless variant.can_supply? %>
                          <span class="out-of-stock"><%= Spree.t(:out_of_stock) %></span>
                        <% end %>
                      <% end %>
                    </li>
                  <% end%>
                </ul>
              </div>
            </div>
          <% else %>
            <%= hidden_field_tag "variant_id", @product.master.id %>
          <% end %>
          <!-- <div class="drop-lis-fom">
            <strong class="time-lead">Lamp Color </strong>
              <select class="form-control" name="products">
                <option>04- Black Lacquer</option>
                <option>03- White Lacquer</option>
                <option>02- White Lacquer</option>
                <option>01- White Lacquer</option>
             </select>
          </div>
          <div class="drop-lis-fom dolr">
            <strong class="time-lead"> Lamp Type </strong>
              <select class="form-control" name="products">
                <option>INC- Incandescent</option>
                <option>CFE- Compact fluorescent</option>
             </select>
          </div> -->
          <div class="drop-lis-fom dolr">
            <strong class="time-lead">Lead Time </strong>
            <p>In Stock models ship within 1-3 days. All other models ship within 7-9 weeks.</p>
          </div>
        </div>
      </div> 
    <% else %>
      <div id="product-price">
        <br>
        <div><span class="price selling" itemprop="price"><%= Spree.t('product_not_available_in_this_currency') %></span></div>
      </div>
    <% end %>
    
  </div>
<% end %>
