<% @body_id = 'product-details' %>

<% cache [I18n.locale, current_currency, @product, @product.possible_promotions] do %>
  <div data-hook="product_show" itemscope itemtype="https://schema.org/Product" class="prd-details">
    <div class="row">
      <div class="col-md-4" data-hook="product_left_part">
        <div data-hook="product_left_part_wrap">
          <div id="product-images" data-hook="product_images">
            <div id="main-image" class="panel panel-default" data-hook>
              <div class="panel-body text-center" id="surround">
                <%= render :partial => 'image' %>
              </div>
            </div>
            <div id="thumbnails" data-hook>
              <div class="thumbelina-but horiz left"><i class="fa fa-chevron-left"></i></div>
              <%= render :partial => 'thumbnails' %>
              <div class="thumbelina-but horiz right"><i class="fa fa-chevron-right"></i></div>
              
            </div>
          </div>

          <div data-hook="product_properties">
            <%= render :partial => 'properties' %>
          </div>

          <div data-hook="promotions">
            <%= render :partial => 'promotions' %>
          </div>
        </div>
      </div>

      <div class="col-md-8" data-hook="product_right_part">
        <div data-hook="product_right_part_wrap">
          <div id="product-description" data-hook="product_description">
            <div class="col-lg-12 col-md-12 col-sm-12 col-sx-12" data-hook="product_right_part_wrap">
              <div class="prd-details-title">
                <div><%= @product.name %></div>
                <p class="prd-details-sub-title">from <%= @product.taxons.first.taxonomy.name %></p>
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-sx-12">
              <div class="prd-details-price-outer">
                <div id="cart-form" data-hook="cart_form">
                  <%= render :partial => 'cart_form' %>
                </div>
              </div>
            </div>
            <!--<div class="col-lg-4 col-md-4 col-sm-12 col-sx-12">
               <div class="detail-ryt-end-outer">
                <div class="drop-lis-fom">
                  <strong class="time-lead">Lamp Color </strong>
                    <select class="form-control" name="products">
                      <option>04- Black Lacquer</option>
                      <option>03- White Lacquer</option>
                      <option>02- White Lacquer</option>
                      <option>01- White Lacquer</option>
                   </select>
                </div>
                <div class="drop-lis-fom dolr">
                  <strong class="time-lead"> Lamp Type </strong>
                    <select class="form-control" name="products">
                      <option>INC- Incandescent</option>
                      <option>CFE- Compact fluorescent</option>
                   </select>
                </div>
                <div class="drop-lis-fom dolr">
                  <strong class="time-lead">Lead Time </strong>
                  <p>In Stock models ship within 1-3 days. All other models ship within 7-9 weeks.</p>
                </div>
              </div>
            </div> -->
            
          </div>
        </div>
      </div>
  </div>
  </div>
<% end %>
<div class="row">
    <div class="col-lg-9 col-md-9 col-sm-12 col-sx-12">
      <div class="tabs-bg-outer">
        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#home">Description</a></li>
          <li><a data-toggle="tab" href="#spec">Spec</a></li>
          <li><a data-toggle="tab" href="#menu3">Q&A</a></li>
        </ul>
        <div class="tab-content">
          <div id="home" class="tab-pane fade in active">
            <div class="well" itemprop="description" data-hook="description">
              <%= product_description(@product) rescue Spree.t(:product_has_no_description) %>
            </div>
          </div>
          <div id="spec" class="tab-pane fade">
            <div class="row">
              <p></p>
              <div class="col-lg-8 col-md-8 col-sm-12 col-sx-12">
                <div class="specs">
                  <% if @product.specs.blank? %>
                    <div class="col-md-12">
                      <span>There is no specfication available for this product.</span>
                    </div>
                  <% else %>
                    <% count = 0 %>  
                    <% @product.specs.each do |key,spec| %>
                      <div class="col-md-6">  
                        <ul>
                          <span><%= key %></span>
                          <% @product.specs[key].each do |element| %>
                            <li><%= element %></li>
                          <% end %>
                        </ul>
                      </div>
                      <% count += 1 %>
                      <% if (count%2 == 0) %>
                        <div class="clearfix"></div>
                      <% end %>
                    <% end %>
                  <% end %>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12 col-sx-12 spec-image">
                <% if (@product.images + @product.variant_images).uniq.size > 1 %>
                  <%= image_tag(@product.images.last.attachment.url(:large), class: "thumbnail") %>
                <% end %>
              </div>
            </div>
          </div>
          <div id="menu3" class="tab-pane fade">
            <p>Coming soon.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12 col-sx-12">
      <div class="col-md-12 related-products-sec">
        <div class="drop-lis-fom dolr related-product-head">
          <strong class="time-lead"> Related Products </strong>
        </div>
        <% products = related_products(@product)%>
        <% products.each do |product| %>
          <% url = spree.product_url(product, taxon_id: @taxon.try(:id)) %>
          <div class="box-1-related">
            <div class="lib-panel">
              <div class="col-md-4 no-pad-releated-product">
                <% if (product.images + product.variant_images).uniq.size > 1 %>
                  <%= image_tag(product.images.first.attachment.url(:small), class: "img-responsive") %>
                <% else %>
                  <%= image_tag'default_product.jpeg' ,class: "img-responsive" %>
                <% end %>
              </div>
              <div class="col-md-8 no-padding">
                <div class="lib-row lib-header"><%= truncate(product.name, length: 33) %></div>
                <div class="lib-row lib-desc">
                  <div class="rating hidden-sm">
                    <% stars = product.stars %>
                    <div class="average-rating pull-left" title="<%= txt_stars(stars) %>">
                      <%= render 'spree/reviews/stars', stars: stars %>
                    </div>
                  </div>
                  <div class="">
                    <div class="text-releated-product"><%= display_price(product) %></div>
                    <div class="text-releated-product-cart">
                      <i class="fa fa-shopping-cart"></i>
                      <%= link_to "Add to cart", url, class: "hidden-sm" %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <!-- Multiple product start -->
  <div class="">
      <div class="row">
        <div class="col-md-9">
          <h3>Most Popular Products</h3>
        </div>
        <div class="col-md-3">
          <!-- Controls -->
          <div class="bottom-controls pull-right hidden-xs">
            <a class="left fa fa-chevron-left next-prv-arow" href="#carousel-example"
              data-slide="prev"></a><a class="right fa fa-chevron-right next-prv-arow" href="#carousel-example"
                data-slide="next"></a>
          </div>
        </div>
      </div>
      <div id="carousel-example" class="carousel slide hidden-xs" data-ride="carousel">
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <% products = popular_products(18) %>
          <% count = 0%>
          <% products.each_slice(6) do |group| %>
            <div class="item <%= count == 0 ? 'active' : '' %>">
              <div class="row">
                <% count +=1 %>
                <% group.each do |product| %>
                  <% url = spree.product_url(product, taxon_id: @taxon.try(:id)) %>
                  <div class="col-sm-2">
                    <div class="bottom-col-item">
                      <div class="bottom-photo">
                        <% if (product.images + product.variant_images).uniq.size > 1 %>
                          <%= image_tag(product.images.first.attachment.url, class: "img-responsive img-slide-bottom") %>
                        <% else %>
                          <%= image_tag'default_product.jpeg' ,class: "img-responsive img-slide-bottom" %>
                        <% end %>
                      </div>
                      <div class="bottom-info">
                        <div class="text-center bottom-separator clear-left">
                          <div class="bottom-price">
                            <h5 title="<%=product.name%>"><%= truncate(product.name, length: 20) %></h5>
                            <h5 class="price-text-color"><%= display_price(product) %></h5>
                          </div>
                          <div class="rating hidden-sm">
                            <% stars = product.stars %>
                            <div class="average-rating poplar-rating pull-left" title="<%= txt_stars(stars) %>">
                              <%= render 'spree/reviews/stars', stars: stars %>
                            </div>
                          </div>
                          <div class="bottom-price">
                          <div class="add-color-chng">
                            <i class="fa fa-shopping-cart"></i>
                            <%= link_to "Add to cart", url, class: "hidden-sm" %>
                            <p></p>
                           </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <!-- Multiple product end -->
  <hr>
<%= render partial: 'spree/shared/footer_top' %>
 <script type = "text/javascript">
  // Initialize the slider.
  $(function(){
    $('#thumbnails').Thumbelina({
      $bwdBut:$('#thumbnails .left'), 
      $fwdBut:$('#thumbnails .right')
    });
  }); 
  if( $("#product-thumbnails").children().length <= 6){
    $("#product-thumbnails").parent().parent().find('i').first().addClass('inactive')
    $("#product-thumbnails").parent().parent().find('i').last().addClass('inactive')
  }
</script>