<div class="">
   <!---start category-->
   <div class="bcum-im">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-sx-12">
          <img class="img-responsive" src="/assets/prbnr.jpg">
        </div>
      </div>
   </div>
   <div class="clearfix"></div>
   <div class="row margin-top-10">
      <div class="col-lg-3 col-md-3 col-sm-12 col-sx-12">
        <!---left satrt-->
        <div class="main-colps">
          <div data-hook="taxon_sidebar_navigation">
            <div id="main">
              <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                  <div class="panel-heading category-tab active-category-tab" role="tab" id="headingOne">
                    <h4 class="panel-title">
                      <a href="javascript:void(0)">
                        <i class="fa fa-angle-up bottom-arrow-catgory"></i>
                        Price Range
                      </a>
                    </h4>
                  </div>
                  <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <%= render partial: 'spree/shared/filters' if @taxon.leaf? %>
                  </div>
                </div>
                <h4>Brands</h4>
                <div class="panel panel-default">
                  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <%= render partial: 'spree/shared/taxonomies' %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!---left end-->
      <div class="col-lg-9 col-md-9 col-sm-12 col-sx-12">
        <div class="well well-sm">
          <div class="row">
            <div class="col-lg-7 col-md-7 col-sm-12 col-sx-12">
              <strong class="view-type"><%= @taxon.name.capitalize %></strong>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-12 col-sx-12">
              <div class="form-group">
                <label for="products" class="col-md-4 control-label text-right">
                  <strong class="view-type">Sort By: </strong>
                </label>
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                  <select class="form-control" name="products">
                    <option>Recommended</option>
                    <option>Top Rated</option>
                    <option>Price (Low to High)</option>
                    <option>Price (High to Low)</option>
                    <option>5</option>
                  </select>
                </div>
              </div>
            </div>
         </div>
      </div>
      <%= render partial: 'spree/shared/products', locals: { products: @products, taxon: @taxon } %>
      </div>
    </div>
    <hr>
    <%= render partial: 'spree/shared/footer_top' %>
  </div>
         <!--right end-->
   <!---end category--><!-- 
<h1 class="taxon-title"><%#= @taxon.name %></h1>

<%# content_for :sidebar do %>
<div data-hook="taxon_sidebar_navigation">
<%#= render partial: 'spree/shared/taxonomies' %>
<%#= render partial: 'spree/shared/filters' if @taxon.leaf? %>
</div>
<%# end %>

<div data-hook="taxon_products">
<%#= render partial: 'spree/shared/products', locals: { products: @products, taxon: @taxon } %>
</div>

<%# unless params[:keywords].present? %>
<div data-hook="taxon_children">
<%# cache [I18n.locale, @taxon] do %>
<%#= render partial: 'taxon', collection: @taxon.children %>
<%# end %>
</div>
<%# end %> -->
