<div class="">
   <!---start category-->
   <div class="bcum-im">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-sx-12">
          <img class="img-responsive" src="/assets/prbnr.jpg">
        </div>
      </div>
   </div>
   <div class="clearfix"></div>
   <div class="row margin-top-10">
      <div class="col-lg-3 col-md-3 col-sm-12 col-sx-12">
        <!---left satrt-->
        <div class="main-colps">
          <div data-hook="taxon_sidebar_navigation">
            <div id="main">
              <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                  <div class="panel-heading category-tab active-category-tab" role="tab" id="headingOne">
                    <h4 class="panel-title">
                      <a href="javascript:void(0)">
                        <i class="fa fa-angle-down bottom-arrow-catgory"></i>
                        Price Range
                      </a>
                    </h4>
                  </div>
                  <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <%= render partial: 'spree/shared/filters' if @taxon.leaf? %>
                  </div>
                </div>
                <h4>Brands</h4>
                <div class="panel panel-default">
                  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <%= render partial: 'spree/shared/taxonomies' %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!---left end-->
      <div class="col-lg-9 col-md-9 col-sm-12 col-sx-12">
        <div class="well well-sm">
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-sx-12">
              <strong class="view-type"><%= @taxon.name.capitalize %></strong>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-sx-12 view-icon">
              <strong class="view-type">Show in: </strong><a href="javascript:void(0)" class="grid-three"><span class="glyphicon glyphicon-th-large" aria-hidden="true"></span></a>
              <a href="javascript:void(0)" class="grid-four"><span class="glyphicon glyphicon-th" aria-hidden="true"></span></a>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-12 col-sx-12">
              <div class="form-group">
                <label for="products" class="col-md-4 control-label text-right">
                  <strong class="view-type">Sort By: </strong>
                </label>
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                  <select class="form-control" name="products" id="sorting-filter">
                    <option value="">Choose Filter</option>
                    <option value="ascend_by_master_price">Price (Low to High)</option>
                    <option value="descend_by_master_price">Price (High to Low)</option>
                  </select>
                </div>
              </div>
            </div>
         </div>
      </div>
      <div id="product-list">
        <%= render partial: 'spree/shared/products', locals: { products: @products, taxon: @taxon } %>
      </div>
      </div>
    </div>
    <hr>
    <%= render partial: 'spree/shared/footer_top' %>
  </div>
<script type="text/javascript">
  $(document).ready(function(){
    $("#sorting-filter").on('change',function(){
      var filter = this.value;
      if (filter=="") return;
      $(".ajax-loader1").show();
      var path = location.pathname
      //document.body.style.backgroundColor = 'rgb(' + [210,210,201].join(',') + ')';
      $('body').css('opacity', 0.8)
      $.ajax({
        url: path,
        method: 'GET',
        data:{id: location.pathname.split("/t/")[1], sorting: filter},
        success:function(){
          $(".ajax-loader1").hide();
          $('body').css('opacity', 1)
          //document.body.style.backgroundColor = 'rgb(' + [255,255,255].join(',') + ')';
        }
      });
    });
    $('.grid-four').click(function(){
      $('#products').find('.col-md-4').each(function(index,value){
        $(value).removeClass('col-md-4')
        $(value).addClass('col-md-3')
      });
    });
    $('.grid-three').click(function(){
      $('#products').find('.col-md-3').each(function(index,value){
        $(value).removeClass('col-md-3')
        $(value).addClass('col-md-4')
      });
    });
  })  
</script>
