<footer class="foter-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <p class="ship-box-title">Need Free LED Lighting Advice <br> 
        <span class="ship-box-content">Call us on 000-000-0000 to speak with our friendly lighting experts.</span>
        </p>
        <div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-right">
        <p class="ship-box-title">COMPANY NAME  CUSTOMER SUPPORT  <br> 
        <span class="ship-box-content">customer@companyname.com</span>
        </p>
      </div>
      <div class="clearfix"></div>
      <div class="ftr-bordr"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
            <p class="ftr-titl">GET TO KNOW US</p>
            <ul class="ftr-ul">
              <li>
                <%= link_to about_us_path do %>
                  <i class="fa fa-caret-right ftr-arw"></i> About Us
                <% end %>
              </li>
              <li>
                <%= link_to careers_path do %>
                  <i class="fa fa-caret-right ftr-arw"></i> Careers
                <% end %>
              </li>
            </ul>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
            <p class="ftr-titl">Quick Links</p>
            <ul class="ftr-ul">
              <li>
                <%= link_to contact_us_path do %>
                  <i class="fa fa-caret-right ftr-arw"></i> Contact Us
                <% end %>
              </li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <p class="ftr-titl">SHOP WITH CONFIDENCE</p>
            <ul class="ftr-ul">
              <li>
                <%= link_to customer_service_path do %>
                  <i class="fa fa-caret-right ftr-arw"></i> Customer Service
                <% end %>
              </li>
              <li>
                <%= link_to price_guarantee_path do %>
                  <i class="fa fa-caret-right ftr-arw"></i> Price Guarantee
                <% end %>
              </li>
              <li>
                <%= link_to faqs_path do %>
                  <i class="fa fa-caret-right ftr-arw"></i> FAQ's
                <% end %>
              </li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <p class="ftr-titl">Policy Info</p>
            <ul class="ftr-ul">
              <li>
                <%= link_to shipping_delivery_path do %>
                  <i class="fa fa-caret-right ftr-arw"></i> Shipping + Delivery
                <% end %>
              </li>
              <li>
                <%= link_to return_cancellation_path do %>
                  <i class="fa fa-caret-right ftr-arw"></i> Return + Cancellation
                <% end %>
              </li>
              <li>
                <%= link_to privacy_policy_path do %>
                  <i class="fa fa-caret-right ftr-arw"></i> Privacy Policy
                <% end %>
              </li>
              <li>
                <%= link_to temrs_conditions_path do %>
                  <i class="fa fa-caret-right ftr-arw"></i> Terms & Conditions
                <% end %>
              </li>
            </ul>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
            <p class="ftr-titl">FIND US</p>
              <ul class="ftr-ul">
                <li>
                  <address>
                    <strong>iLighting</strong><br>
                    1244 Market Street, Suite 900<br>
                    Boston, CA 94103<br>
                    <abbr title="Phone">P:</abbr> (123) 456-7890
                  </address>
                </li>
              </ul>
            </div>
          </div>
      </div>
  </div>
<a href="#0" class="cd-top"><span class="top-botm">Top</span></a>
</footer>
<div class="container footer-copyright">
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div class="row">iLighting © 2015. All Right Reserved</div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div class="row">
      <span class="pull-right">
        Powered By <%= link_to "Inveera Technologies Pvt. Ltd.", "http://inveera.com/", target: "_blank" %>
      </span>
    </div>
  </div>
</div>
