<section class="top-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-sx-12 col-md-offset-6">
        <div  class="col-lg-12 col-md-12 col-sm-12 col-sx-12 col-md-offset-1 mar-pad text-center">
          <div class="col-lg-4 col-md-4 col-sm-12 col-sx-12 mob-nmbr">
            <i class="fa fa-mobile mob-lg mob-lg"></i> 000 - 000 - 000 - 0000
          </div>
          <div class="col-lg-8 col-md-8 col-sm-12 col-sx-12">
            <div class="trac-ord">
              <ul class="list-inline">
                <li><a href="#">Track Program</a></li>
                <li><a href="#">Track My Order</a></li>
                <li><a href="#">Help Center</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<header class="head-marg" id="header" data-hook>
  <div class="container">
    <div class="row">
      <div class="srch-lbl">
        <div class="col-lg-4 col-md-4 col-sm-12 col-sx-12">
          <%= link_to spree.root_path do %>
            <img src="/assets/logo.png" height="70">
          <% end %>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-sx-12">
          <div class="form-group has-feedback">
            <label class="control-label sr-only" for="inputSuccess5">Hidden label</label>
            <%= render :partial => 'spree/shared/search' %>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-sx-12">
          <div class="free-shipping">
            <ul class="list-inline text-right">
              <li><a href="#">FREE SHIPPING!<br> <span class="sml-tx">free shipping on most order</span></a></li>
              <li class="dropdown">
                <a aria-expanded="false" aria-haspopup="true" role="button" data-toggle="dropdown" class="dropdown-toggle" href="#">ACCOUNT<br> <span class="sml-tx">(<%= spree_current_user.present? ? 'sign out' : 'sign in' %>)</span> <span class="caret"></span></a>
                <ul class="dropdown-menu">
                 <% if spree_current_user.present? %>
                  <li><%= link_to "My Account", account_path %></li>
                  <li>
                    <%= link_to "My Wishlist", account_path(wishlist: true) %>
                  </li>
                  <li><%= link_to "Logout", destroy_spree_user_session_path %></li>
                <% else %> 
                  <li><%= link_to "Sign in", login_path %></li>
                  <li><%= link_to "Register", signup_path %></li>
                <% end %>
                </ul>
              </li>
              <li class="dropdown">
                <div id="" class="">
                  <div class="top-cart-box">
                    <ul class="nav navbar-nav navbar-right">
                      <li class="dropdown">
                        <div class="cart-tx modal-cart-icon" data-toggle="modal" data-target="#myModal">
                          <%= link_to "javascript:void(0)", class: "dropdown-toggle" do %>
                            <span><img src="/assets/cart.png" ></span>
                            <span class="cart-tx2">
                              <% if  simple_current_order.item_count.zero? %>
                                0
                              <% else %>
                                <%= simple_current_order.item_count %>
                              <% end %>
                            </span><br> 
                            <span class="sml-tx">CHECKOUT</span>
                          <% end %>
                        </div>
                        <div class="my-cart-main">
                          <div class="modal fade" id="myModal" role="dialog">
                            <%= render partial: '/spree/shared/quick_cart_modal.html' %>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="container">
    <div class="">
      <div class="navbg-remove bordr-top">
        <nav role="navigation" class="navbar navbar-default">
          <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="dropdown navbar-header">
            <button data-target="#bs-megadropdown-tabs" data-toggle="collapse" class="navbar-toggle collapsed" type="button" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div id="bs-megadropdown-tabs" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
             <ul class="nav navbar-nav">
              <li><%= link_to "HOME", spree.root_path %></li>
              <li class="dropdown mega-dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">BRANDS <span class="caret"></span>
                </a>       
                <div class="dropdown-menu mega-dropdown-menu">
                  <!-- Tab panes -->
                  <div class="tab-content">
                    <div id="men" class="tab-pane active">
                        <% Spree::Taxonomy.all.each do |taxonomy| %>
                          <ul class="nav-list list-none">
                            <li>
                              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <h1 class="ftr-titl-mnu"><%= taxonomy.name %>
                                </h1>
                                <% taxonomy.root.children.each_slice(12) do |batch|%>
                                  <ul class="ftr-ul brand-nav col-md-6 col-sm-12">
                                    <% batch.each do |taxon|%>
                                    <li>
                                      <%= link_to seo_url(taxon) do %>
                                        <i class="fa fa-angle-double-right ftr-arw-sew"></i>
                                        <%= taxon.name.capitalize %>
                                      <% end %>
                                    </li>
                                    <% end %>
                                  </ul>
                                <% end %>
                              </div>
                            </li>
                          </ul>
                        <% end %>
                    </div> 
                  </div>                 
                </div>        
              </li>
              <li><%= link_to "ABOUT US", about_us_path %></li>
              <li><%= link_to "CONTACT", contact_us_path %></li>
            </ul>
          </div>
          </div>
        </nav>
        <div>
      </div>
    </div>
    </div>
  </div>

<script>
  function update_quantity(ele){
    var current = $(this);
    $('.ajax-loader').show();
    var id = "";
    update_cart(current,id)
    var quantity = $(ele).val();
    var sub_price = $(ele).parent().parent().find('td.q-single-total').text();
    var subtotal = parseInt(sub_price.split('.')[0].replace(/[^a-zA-Z0-9]/g, ''))* parseInt(quantity)
    $(ele).parent().parent().find('span.q-subtotal').text("$"+subtotal+".00");
  }
  function update_cart(current, id){
    $.ajax({
      url: '/cart',
      type: 'PATCH',
      data: $("#update-quick-cart").serialize() + '&id=' + id,
      success: function(response){
        if (response.order.item_count <= 0){ 
          $("#myModal .modal-body").remove();
          $('.q-order-total').remove();
          $('.q-order-total-pay').remove();
          $('.q-checkout-btn').remove();
          $('.empty-cart-msg').show();
        }else{
          $('.q-order-total').text("$"+response.order.total)
        }
        $('.q-item-count').text(response.order.item_count);
        $('.cart-tx2').text(response.order.item_count);
        $('.ajax-loader').hide();
      },
      error: function(error){
        console.log("Error: Unable to delete.")
      }
    });
  }
  $(document).ready(function(){

    $('.delete-from-quick-cart').click(function(){
      var current = $(this)
      var id = current.attr('item-id')
      $('.ajax-loader').show();
      update_cart(current,id)
      current.parent().parent().remove();
    })

    var width = $(window).width();

    if (width < 768){
      $(".dropdown").click(function() {
        if($(this).hasClass('open')){
          $(this).removeClass('open');
          $('.dropdown-menu', this).stop( true, true ).slideUp("fast");
        }else
        {
          $(this).addClass('open');
          $('.dropdown-menu', this).stop( true, true ).slideDown("fast");
        }
      });
      
      $('.navbar-header').click(function(){
        var toggle_menu = $("#bs-megadropdown-tabs")
        if (toggle_menu.hasClass('open')){
          toggle_menu.removeClass('open')
          toggle_menu.css('display', 'none')  
        }else{
          toggle_menu.addClass('open')
          toggle_menu.css('display', 'block')  
        }
      });
    }
    else {
      $(".dropdown").hover(function() {
        $('.dropdown-menu', this).stop( true, true ).slideDown("fast");
        $(this).toggleClass('open'); 
      },
      function() {
        $('.dropdown-menu', this).stop( true, true ).slideUp("fast");
        $(this).toggleClass('open');
      }
      );
    }
  });
</script>
