<div class="review" itemprop="reviews" itemscope itemtype="http://schema.org/Review">
  <div class="row">  
    <div class="col-md-2 col-sm-12">
      <div class="star-small-text">
        <div class="stars">
          <%= render 'spree/reviews/stars', stars: review.rating %>
        </div>             
      </div>
      <div class="revier-name">
        <% if review.show_identifier %>
          <% if Spree::Reviews::Config[:show_email] && review.user %>
            <%= review.user.email %>
          <% else %>
            <%= review.name.capitalize %>
          <% end %>
        <% else %>
          <%= Spree.t(:anonymous) %>
        <% end %>
      </div>
      <div class="revier-name"><%= review.created_at.to_date.strftime("%b, %d %Y") %></div>
    </div>
    <div class="col-md-10 col-sm-12">
      <div class="revier-sub"><%= review.title.capitalize %></div>
      <p><%= simple_format(review.review) %></p>
    </div>
  </div>
</div>
