<% max_level = Spree::Config[:max_level_in_taxons_menu] || 1 %>

<nav id="taxonomies" class="sidebar-item" data-hook>
	<% count = 0 %>
  <% @taxonomies.each do |taxonomy| %>
  	<% count += 1 %>
    <% cache [I18n.locale, taxonomy, max_level, @taxon] do %>
		  <div class="panel panel-default">
        <div class="panel-heading category-tab" role="tab" id="<%=taxonomy.name%>">
          <h4 class="panel-title">
            <a href="javascript:void(0)">
              <i class="fa fa-angle-up bottom-arrow-catgory"></i>
              <%=taxonomy.name %>
            </a>
          </h4>
        </div>
        <div id="accord-<%=count%>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="<%=taxonomy.name%>">
          <div class="">
            <%= taxons_tree(taxonomy.root, @taxon, max_level) %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</nav>
<% if params[:controller] =="spree/taxons" && params[:action] == "show" %>
  <script type="text/javascript">
    var tab = window.location.pathname.split("/")[2].replace("-"," ")
    $("#taxonomies").children().each(function(index, category){
      var selected_category = $(category).find('h4 a').text().trim().toLowerCase();
      if(tab == selected_category){
        selected_tab = $(category).find('div.category-tab');
        selected_tab.addClass('active-category-tab');
        $(selected_tab.parent().children()[1]).show();
        selected_tab.find('i').removeClass('fa-angle-up');
        selected_tab.find('i').addClass('fa-angle-down');
      }
    });  
  </script>
<% end %>
<script type="text/javascript">
function angleAnimation(angleselector){
  if(angleselector.find('i').hasClass('fa-angle-down')){
    angleselector.find('i').addClass('fa-angle-up');
    angleselector.find('i').removeClass('fa-angle-down');
  }else{
    angleselector.find('i').removeClass('fa-angle-up');
    angleselector.find('i').addClass('fa-angle-down');
  }
}
$(document).ready(function(){
  $(".category-tab").click(function(){
    if ($(this).hasClass('active-category-tab')){
      $($(this).parent().children()[1]).hide();
      $(this).removeClass('active-category-tab');
      angleAnimation($(this))
    }else{
      angleAnimation($(this))
      $(this).addClass('active-category-tab');
      $($(this).parent().children()[1]).show();  
    }
  })
});
</script>