<div class="text-faqs">
  <div class="row">
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <h3 class="mad-center-txt">FAQ's</h3>
    <p>ORDERING</p>
    <h4>What Payment Options Do You Accept?</h4>
    <p>We accept all major credit card cards including American Express, Visa, MasterCard and Discover.</p>
    <p>We also accept PayPal, check and wire transfer.</p>
    <h4>Do You Charge Sales Tax?</h4>
    <p>One of the best things about buying through iLighting is that we do not have to charge U.S. State sales tax, with one notable exception: orders shipping to California will be subject to the relevant sales tax. iLighting is not responsible for individual states' sales tax reporting laws pertaining to online purchases, so we encourage you to check your state's regulations before you shop. Orders shipped to Canada are taxed based on the applicable province rates.</p>
    <h4>What Is Your Cancellation Policy?</h4>
    <p>We will attempt to accommodate your request. 
      <%= link_to "Click here", return_cancellation_path %> to see our full cancellation policy.</p>
    <h4>Do You Offer Gift Wrap?</h4>
    <p>Yes, gift wrap, as well as gift notes, are available on select items. When it is available you will see the option displayed on the product page.</p>
    <h4>Do You Offer A Trade or Volume Discount?</h4>
    <p>We offer discounts to members of the trade such as designers, architects and contractors who have presented appropriate credentials and have been approved. In addition, we may be able to offer special discounts for large volume orders. Please click here to learn more about our trade program.</p>
    <h3 class="mad-center-txt">SHIPPING</h3>
    <h4>Where Is My Order?</h4>
    <p><%= link_to "Click here", contact_us_path %> to contact Customer Service.</p>
    <h4>How Much Does Shipping Cost?</h4>
    <p>We offer free shipping on most orders over $75. Orders that do not meet the $75 threshold are charged a $9.99 flat rate shipping fee. There are select product exclusions that do carry associated shipping or handling charges. In these cases, the total shipping charges are clearly identified on the product page or during checkout. For select products, upgraded delivery options may be available for purchase during checkout.</p>
    <h4>Do You Ship Internationally?</h4>
    <p>We are working to support the shipment of more and more items every day to Canada, however, there are some product exclusions. Our Customer Service team will confirm your order within 24-48 hours. <%= link_to "Click here", shipping_delivery_path %> to read the shipping policy for Canada. All other international shipping requests should be directed to Customer Service <%= link_to "(Click here)", contact_us_path %></p>
    <h4>What If I Live In Alaska, Hawaii, Puerto Rico, or the U.S. Virgin Islands?</h4>
    <p>For these locations, additional shipping fees may apply. Our Customer Service team will confirm any such fees 24-48 hours after your order is placed, and will not finalize your order until you accept the final terms.</p>
    <h4>Will You Ship To My PO Box?</h4>
    <p>Unfortunately, we cannot ship to PO Boxes or Military APOs.</p>
    <h4>What If I Need To Ship To Multiple Addresses?</h4>
    <p>Please contact our Customer Service team and they will assist you with your specific needs.</p>
    <h3 class="mad-center-txt">RETURNS AND DAMAGES</h3>
    <h4>What Is Your Return Policy?</h4>
    <p>We accept returns on a vast majority of our products (in new condition and original packaging) within 30 days of receipt, unless otherwise noted on the product page. <%= link_to "Click here", return_cancellation_path %> to see our full return policy.</p>
    <h4>How Much Time Do I Have to Inspect My Package For Damage?</h4>
    <p>It is critical that you inspect your order upon delivery. Orders delivered via a freight carrier specifically must be inspected upon delivery of the item. If you find any issues, please contact our Customer Service team immediately.</p>
    <h4>What If My Order Arrives Damaged?</h4>
    <p>If by some chance, your item was damaged during transit, please contact our Customer Service team.</p>
   </div>
  </div> 
 </div>
<%= render partial: 'spree/shared/footer_top' %>